@import "tailwindcss";

html {
  font-size: 16px; /* 1rem = 16px */
}

body {
  font-size: 1rem; /* Optional: reinforces base size */
  font-family: var(--font-inter), var(--font-roboto), sans-serif;
}